section.test-step {
  display: flex;
  flex-direction: column;
  padding: 8px;
  row-gap: 4px;
  color: rgb(204, 204, 204);
}

section.test-step header {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
}

section.test-step header .icon {
  width: 16px;
  height: 16px;
}

section.test-step .body {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  flex-grow: 1;
}

section.test-step .body .description {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  flex-grow: 1;
}

section.test-step .body .description > section {
  background: var(--Sidebar-bg, rgba(120, 132, 131, 0.08));
  border-radius: 2px;
  padding: 4px;
}

section.step-info {
  display: flex;
}

section.test-step header .title {
  text-transform: uppercase;
}

.assertions header {
  text-transform: uppercase;
}

.assertions ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.assertions li {
  margin-left: 0;
  padding-left: 0;
}

.assertions li > div {
  display: flex;
  background: rgba(234, 234, 234, 0.1);
  padding: 4px 8px;
  border-radius: 2px;
}

.assertions .value {
  text-transform: uppercase;
}

.reasoning .screen-descriptions {
  margin: 4px 0;
  padding: 0 0 0 32px;
}

footer .controls {
  margin-top: 8px;
  display: flex;
  column-gap: 8px;
}

/* -------------CODE EDITOR STYLES--------------- */

.code-comment {
  color: rgb(255, 143, 143); /*rgb(106, 2, 2)*/
}

.code-string {
  color: var(--color-sauce-green) /*rgb(13, 137, 13)*/;
}

.code-class {
  color: rgb(255, 145, 255); /*rgb(62, 4, 62)*/
}

.code-parameter {
  color: rgb(139, 139, 249); /*darkblue*/
}

.code-number {
  color: rgb(1, 228, 228); /*rgb(1, 96, 96)*/
}

.code-created-class {
  color: rgb(255, 132, 24); /*rgb(62, 4, 62)*/
}

.rating {
  padding: 4px;
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(270deg)
    brightness(104%) contrast(101%);
}

.rating.selected {
  filter: invert(85%) sepia(41%) saturate(7496%) hue-rotate(325deg)
    brightness(104%) contrast(87%);
}
