.vscode-dark {
  --icon-header-filter: invert(70%) sepia(6%) saturate(51%) hue-rotate(169deg)
    brightness(150%) contrast(90%);
}

.vscode-high-contrast {
  --icon-header-filter: invert(70%) sepia(6%) saturate(51%) hue-rotate(169deg)
    brightness(150%) contrast(200%);
}

.vscode-light {
  --icon-header-filter: none;
}

section.test-step {
  display: flex;
  flex-direction: column;
  padding: 8px;
  row-gap: 4px;

  header {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
    text-transform: uppercase;

    .icon {
      width: 16px;
      height: 16px;
      &.header {
        filter: var(--icon-header-filter);
      }
    }
  }

  .body {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    flex-grow: 1;

    .description {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      flex-grow: 1;

      > section {
        background: var(--vscode-sideBar-background);
        border-radius: 2px;
        padding: 4px;
      }
    }
  }

  code {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-editor-background);
    font-size: var(--vscode-editor-font-size);
    font-weight: var(--vscode-editor-font-weight);
    font-family: var(--vscode-editor-font-family), monospace;
  }
}

.set-text-action {
  header {
    margin-bottom: 4px;
  }
  div {
    padding-left: 4px;
  }
}

.assertions {
  header {
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 0;
      padding-left: 0;

      > div {
        display: flex;
        padding: 4px 8px;
        border-radius: 2px;
        &:hover {
          background: var(--vscode-list-hoverBackground);
          color: var(--vscode-list-hoverForeground);
        }
      }
    }
  }

  .value {
    text-transform: uppercase;
    margin-right: 4px;
  }
}

.reasoning {
  .screen-descriptions {
    margin: 4px 0;
    padding: 0 0 0 32px;
  }
}

.commands {
  .command {
    margin: 4px;
  }
  .alternatives {
    .toggle {
      display: flex;
      align-items: center;
      column-gap: 4px;
    }

    .icon {
      width: 12px;
      filter: invert(43%) sepia(84%) saturate(1173%) hue-rotate(193deg)
        brightness(101%) contrast(101%);

      &.up {
        transform: rotate(-90deg);
      }
    }
  }
}

.ratings {
  margin-left: auto;
  display: flex;
  column-gap: 2px;

  .rating {
    padding: 4px;
  }
}
