section.test-step {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

section.test-step header {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

section.test-step .body {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

section.test-step .body .description {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

section.step-info {
  display: flex;
}

section.test-step header .title {
  text-transform: uppercase;
}
