.rating {
  padding: 4px;
  width: 16px;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(270deg)
    brightness(104%) contrast(101%);
}

.rating.selected {
  filter: invert(85%) sepia(41%) saturate(7496%) hue-rotate(325deg)
    brightness(104%) contrast(87%);
}
